<html>
<head><title>Your Drivers</title>
<link rel="stylesheet" href ="allDrivers.css" type="text/css">
<link rel="stylesheet" href="w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="stylesheets\font-awesome-4.7.0\css\font-awesome.min.css">
<link rel="shortcut icon" href="bus.ico">
</head>
<header>
    <% include ../partials/newHeader %>
</header>

<style>
  
  .srcbx {

    width: 350px;

  }

</style>

<body>
<br>
<br>
<form method="post" action="/filterDrivers" style="margin-top: 60px">
  <input type="text" id="default" style="float: left;" list="numbers" placeholder="Enter vehicle number to Search" class="val srcbx w3-input w3-border w3-round w3-gray w3-opacity-min" name="val">
  
  <datalist id="numbers" class="numbers" name="number">
    <% if (Array.isArray(record) ){ %>
        <% record.forEach( function( prd ) { %>
          <option value='<%= prd.name %>' >
    <% })} %>
  </datalist>
  <input type="submit"  class="w3-center w3-round w3-padding w3-light-gray" value="Search   >" id=""/>
  <p><a href="/viewDrivers" class="w3-button w3-round w3-padding w3-light-gray">Show All </a></p>
</form>

	<section>
  <!--for demo wrap-->
  <h1>Registered Drivers List</h1>
  <div class="tbl-header w3-card w3-table w3-border w3-dark-grey w3-opacity-min">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>D.O.B</th>
          <th>Aadhar </th>
          <th> Address </th>
          <th> Blood Group</th>
          <th>Licence</th>
        </tr>
      </thead>
    </table>
  </div>
  

  <div class="tbl-content w3-card w3-table w3-border w3-grey">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
    <% if (Array.isArray(record) ){ %>
      	<% record.forEach( function( prd ) { %>
        <tr>
          <td><%= prd.name %></td>
          <td> <%= prd.mobile %></td>
          <td><%= prd.email %></td>
          <td><%= prd.dob %></td>
          <td><%= prd.aadharNumber %></td>
          <td><%= prd.address %></td>
          <td><%= prd.bloodGroup %></td>
          <td><%= prd.licenseNumber %></td>
          
        </tr>
    <% })} else { %>
    	<tr>
          <td><%= prd.name %></td>
          <td> <%= prd.mobile %></td>
          <td><%= prd.email %></td>
          <td><%= prd.dob %></td>
          <td><%= prd.aadharNumber %></td>
          <td><%= prd.address %></td>
          <td><%= prd.bloodGroup %></td>
          <td><%= prd.licenseNumber %></td>
        </tr>
    	<% }; %>

        </tbody>
    
    </table>
  </div>


  </section>

</body>
</html>
